<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52245362208-o9fepltire0rjd4udbc37dnpuief3r5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52245362208-o9fepltire0rjd4udbc37dnpuief3r5p</string>
	<key>API_KEY</key>
	<string>AIzaSyCKoyT3-WoDmpymxH6QmUW1F8ZmZQ6DajQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52245362208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.book.book</string>
	<key>PROJECT_ID</key>
	<string>book-29caa</string>
	<key>STORAGE_BUCKET</key>
	<string>book-29caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52245362208:ios:bd2ebc6990e6d75d7c2e45</string>
</dict>
</plist>